/* UNIVERSAL SELECTOR */
* {
    font-family: Arial, sans-serif;
}

/* TAG SELECTOR */
h1 {
    color: blue;
    text-align: center;
}

/* CLASS SELECTOR */
.paragraf {
    color: green;
    font-size: 18px;
    text-align: justify;
}

/* ID SELECTOR */
#teks-khusus {
    color: red;
    font-size: 20px;
    text-align: center;
}

/* TAG SELECTOR TAMBAHAN */
div {
    margin-top: 20px;
    color: purple;
}
